.address {
  @include font(400, 14px, 1.71, 0.03em);
  margin-top: 20px;
  font-style: normal;
}
.address__map {
  color: $main-white-color;

  transition: $transition-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.address__contact {
  color: $trasparent-white-color;

  transition: $transition-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.address__item:not(:first-child) {
  margin-top: 9px;
}
