.nav {
  @extend %flex-align-center;
  position: relative;
  background-color: $main-white-color;

  .nav__list {
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
  .nav__item:not(:first-child) {
    @media screen and (max-width: 767px) {
      margin-top: 32px;
    }

    @media screen and (min-width: 768px) {
      margin-left: 50px;
    }
  }
}
.nav__link {
  color: $main-title-color;
  @include font(500, 40px, 0.85, 0.02em);

  transition: $transition-color;

  @media screen and(min-width: 768px) {
    padding-bottom: 32px;
    padding-top: 32px;
    font-size: 14px;
    line-height: 1.14;

    &--current {
      position: relative;
      color: $accent-color;
    }
    &--current::after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      content: '';
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;
    }
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
