@mixin section($padding-top: 94px, $padding-bottom: 94px) {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
}

.section {
  @media screen and (max-width: 1199px) {
    @include section(60px, 60px);
  }
  @media screen and (min-width: 1200px) {
    @include section();
  }
  .section__title {
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.03em;

    @media screen and (max-width: 1199px) {
      font-size: 28px;
      line-height: 1.18;
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 1.17;
      margin-bottom: 50px;
    }
  }
}
