%flex-align-center {
  display: flex;
  align-items: center;
}

%flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
%button {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: $border-radius;
  border-color: transparent;
  min-width: 200px;
  color: $main-white-color;
  background-color: $accent-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}
